<h1>4A. Стрим с возможностью эмитить события</h1><br>

<p><b>Subject</b> это такой же класс как и <b>Observable</b>, который позволяет <b>создавать новые стримы</b>,<br>
    но он являеется <b>расширенной версией</b></p><br>
<p>Можно не только <b>подписываться/отписываться</b> (черная кнопка для отписки),<br>
    но и <b>имитить события</b> (красная кнопка)</p><br>

<button class="btn" (click)="stop()">Stop interval</button>
<button class="btn btn-danger" (click)="next()">Next value</button>
<br><p>(подписка инициализируется с открытием компонента)</p>