<h1>1A. Вызов и остановка стрима rxjs</h1><br>

<p>По сути <b>rxjs</b> это библиотека, которая позволяет очень удобно работать с событиями, данными, объектами и тд</p><br>

<p>В основном его используют для обработки <b>асинхронностей (async)</b></p><br>

<p>Мы можем обернуть кусок кода в <b>rxjs stream</b> и <b>диспатчить там некоторые события. <br>
    Тригерить стрим</b> и в другом месте на него <b>подписываться</b>
</p><br>

<p><b>Сейчас в консоли идет стрим, считающий секунды,</b><br>
    чтобы не вызывать memoryLeak (засирание памяти) его необходимо уметь <b>отменять:</b>
</p><br>

<button class="btn" (click)="stop()">Stop interval</button>
